<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>leaflet-storage-tilelayer Demo</title>

    <script src="../platform/platform.js"></script>
    <link rel="import" href="../leaflet-map/leaflet-map.html">
    <link rel="import" href="leaflet-storage-tilelayer.html">

    <style>
        body {
            height: 100%;
            margin: 1em;
            font-family: Arial;
        }

        leaflet-map {
            max-width: 40em;
            height: 30em;
            border: 1px solid #aaa;
        }

    </style>
</head>
<body unresolved>

<template is="auto-binding">

    <p>A <code>&lt;leaflet-storage-tilelayer&gt;</code> looks like this:</p>


    <leaflet-map latitude="38.235261" longitude="-79.609084" zoom="14" >
        <leaflet-storage-tilelayer
                url="http://{s}.tiles.mapbox.com/v3/rbeers.j1mhej3b/{z}/{x}/{y}.png" noWrap>
            Map source: <a href="http://www.mapbox.com/about/maps/">Terms &amp; Feedback</a>
        </leaflet-storage-tilelayer>
    </leaflet-map>

</template>

<script>
    var t = document.querySelector('template');
</script>

</body>
</html>
